
<div th:fragment="login"> 
<form class="px-3 py-3" th:action="@{/}"method="post">
	   		<div class="form-group mx-sm-3 mb-2">
			    <label for="email" class="sr-only">Email</label>
			    <input type="text" class="form-control" id="email" name="email" placeholder="email@example.com">
			</div>
			<div class="form-group mx-sm-3 mb-2">
			    <label for="password" class="sr-only">Password</label>
			    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
		  	</div>
			  <button type="submit" class="btn btn-primary mx-sm-3 mb-2"  >Confirm identity</button>
		  <div class="dropdown-divider"></div>
		  	<a class="nav-link" th:href="@{/signup/${account.therapist.id}">New around here? Sign up</a>
		  	
</form>

